<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>Приложение анкетирование</title>
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/form_app.css" %}">
</head>
<body>
    <b>Приложение анкетирование</b>
    <a href="/form_app/all_questionnaire"> Посмотреть список анкет</a>
    <a href="/form_app/step1"> Заполнить анкету</a>
    {% block content %}
    {% endblock %}

</body>
</html>