
{% extends "form_app/base.html" %}

{% block content %}

{% if questionnaire_list|length > 0 %}
<table class="table">
    <tr>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Пол</th>
        <th scope="col">Фото</th>
        <th scope="col">Цвет волос</th>
        <th scope="col">Вес</th>
        <th scope="col">Любимое животное</th>
        <th scope="col">Есть любимое животное</th>
    </tr>
    {% for questionnaire in questionnaire_list %}
    <tr>
        <td>{{ questionnaire.first_name }}
        <td>{{ questionnaire.last_name }}</td>
        <td>{{ questionnaire.birthday_date }}</td>
        <td>{{ questionnaire.sex }}</td>
        <td><a href="{{ questionnaire.photo.url }}"> Фото</a></td>
        <td>{{ questionnaire.hair_color }}</td>
        <td>{{ questionnaire.weight }}</td>
        <td>{{ questionnaire.favorite_animal }}</td>
        {%if questionnaire.have_animal == True %}
            <td> Есть</td>
        {% else %}
            <td> Нет</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<div class="container center">
    <div class=".col-md-6 .offset-md-6">
        <nav aria-label="Page navigation">   <ul class="pagination center">
        {% if questionnaire_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">begin</span>
          </a>
        </li>   {% endif %}

        {% for n in questionnaire_list.paginator.page_range %}
          {% if questionnaire_list.number == n %}
            <li class="page-item active">
              <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
            </li>
          {% elif n > questionnaire_list.number|add:'-3' and n < questionnaire_list.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
          {% endif %}
        {% endfor %}

        {% if questionnaire_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">end</span>
            </a>
          </li>
          {% endif %}   </ul> </nav>
            </div>
    </div>
</div>

{% else %}
<div class="alert alert-warning" role="alert">
  Нет записей
</div>
{% endif %}
{% endblock %}

