{% extends "form_app/base.html" %}

{% block content %}




<div class="container registration-container mt-5">
    <div class="row offset-md-4">

        <form action="/form_app/step3/" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div  class="form-group">
                    {% if field.error %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}

      <button type="submit" class="btn btn-primary">Далее</button>
        </form>

    </div>
</div>



{% endblock %}